.contenedor-principal-elearning{ 
  width:100%;
  height:100%;
  background:#FFF;
  font-family: 'Oswald', sans-serif;
} 
 
.contenido-principal{ 
  width:80%;
  height:850px;
  min-height:720px;
  margin-left:10%;
  background:#F0F2F1;
  position:relative;
}


.tit-untf{ 
  font-size:1.4em;
  color:rgb(0, 0, 0);
  width:180px;
  padding-top:30px;
  margin-left:30px;
}

.tit-vntf{ 
  font-weight:bold;
  text-decoration:underline;
  width:120px;
  float:right;
  margin-top:-20px;
  margin-right:15px;
  font-size:.9em;
}

.notif{ 
  width:95%;
  height:70%;
  margin-top:10px;
  margin-left:15px;
  border-top:2px solid #B2E9FE;
}

.XiNotificacion { 
  margin-top: 15px;
  text-align: left;
  background:#F0F2F1;
  border-radius:5px;
  height:55px;
  color:gray;

}

.XiNotificacionContenido { 
  height: 1.75em;
  overflow: hidden;
  border-bottom:1px solid #D2D3D5;
  width:100%;
  height:28px;
  text-align:left;
  font-size:.9em;
  padding-top:5px;
  padding-left:10px;
  
}

.XiNotificacionTitulo{ 
    margin-top:5px;
    font-size:.8em;
    color:#939398;
}

.XiNotificacionSistema, .XiNotificacionFecha, .XiNotificacionHora { 
  border-right: 1px solid #D2D3D5;
  margin-left:10px;
  padding-right:10px;
  text-align:center;
}

.XiNotificacionIr { 
  font-size:1em;
  float: right;
  padding-right:10px;
}

.XiNI { 
  text-decoration: underline;
  font-weight: bold;
}
  
.tit-vstat{ 
  font-weight:bold;
  text-decoration:underline;
  width:120px;
  float:right;
  margin-top:-20px;
  font-size:.9em;
} 

.tit-vstat a{ 
  color:gray;
  cursor:pointer;
}


.iPerfilForm { 
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  width: 95%;
  display:table-col;
  border-bottom: 2px solid #B2E9FE;
}

.in-data{ 
  display:table-row;
  width:77%;
  margin-top:10px;
  margin-left:5px;
  border:none;
  border-radius:5px;
  background:#E6E7E9;
  padding-left:10px;
  height:25px;
  line-height:24px;
  font-size:.85em;
}
  
.iPFS { 
  font-size:.85em;
  float: right;
  padding:9px;
  padding-top:5px;
  margin-top:10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background:#B2EBFF;
  border:none;
  color:#099210;
  font-weight:bold;
}

.iPFS:disabled{ 
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}

.iPFS:disabled:hover{ 
  background:rgb(69, 74, 77);
  color:rgb(255, 255, 255);
}
 
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 200px) and (max-width : 480px) {
  .header-elearning{
    width:100%;
    margin-left:0%;
    height:80px;
  }}
  
.contenido-principal{ 
  width:100%;
  height:1250px;
  min-height:720px;
  margin-left:0%;
}
    
  .headwh1{ 
     width:100%;
    height:45px
  }

.tit-untf{ 
  font-size:1.2em;
  width:180px;
  padding-top:20px;
  margin-left:20px;
  float:left;
}

.tit-vntf{ 
  width:120px;
  margin-top:25px;
  margin-right:-30px;
  font-size:.7em;
}

.notif{ 
  width:95%;
  height:70%;
  margin-top:5px;
  margin-left:5px;
}
 
.XiNotificacion { 
  margin-top: 10px;
  height:55px;
}

.XiNotificacionContenido { 
  height: 1.75em;
  width:100%;
  height:26px;
  font-size:.85em;
  padding-top:5px;
  padding-left:10px;
}

.XiNotificacionContenidoC { 
  width:85%;
  max-width: 98%;
  margin-right:10px;
}

.XiNotificacionTitulo{ 
    margin-top:5px;
    font-size:.77em;
}
  
.tit-miPerfil{ 
  font-size:1.2em;
  width:180px;
  padding-top:20px;
  margin-left:20px;
}

.tit-vstat{ 
  width:120px;
  float:right;
  margin-top:-20px;
  font-size:.8em;
}
  
.iPerfilForm { 
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
}

.in-data{ 
  width:75%;
  margin-top:5px;
  margin-left:5px;
  padding-left:10px;
  height:25px;
  font-size:.83em;
}
  
.tit-untf{ 
  font-size:1.3em;
  padding-top:35px;
  margin-left:25px;
}

.tit-vntf{ 
  margin-top:-20px;
  font-size:.83em;
  margin-right:-10px;
}

.notif{ 
  margin-top:5px;
  margin-left:10px;
}

.XiNotificacion { 
  margin-top: 16px;
}

.tit-miPerfil{ 
  font-size:1.3em;
  margin-left:15px;
}

.tit-vstat{ 
  width:120px;
  margin-top:-20px;
  font-size:.83em;
  margin-right:-30px;
}

.iPerfilForm { 
  margin-left: 5px;
  margin-right: 0px;
  width: 99%;
}

.in-data{ 
  width:75%;
  margin-left:0px;
}
  
  
  .contenido-principal{ 
    width:95%;
    margin-left:2%;
  }
  
.XiNotificacion { 
  margin-top: 16px;
}
 
.XiNotificacion { 
  margin-top: 16px;
}
  
.in-data{ 
  width:75%;
  margin-left:0px;
}
  

.backcolor {
  background-color: #333366;
  color: #ffffff;
}
.letracolor {
color: white;
font-weight: bold;
}

.letracolor:hover {
color: white;
font-weight: bold;
}

.copyright {
  color: white;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.information {
  text-align: right;
}

.information a {
  text-decoration: none;
  color: white;
}