<nav id="menu" class="navbar navbar-expand-lg fixed-top bg-pink">
  <div class="container">
    <a class="navbar-brand" routerLink="../inicioUsuario/inicioUsuario.html">
      <img src="assets/image/homeUser/LOGO-OSCURO.png" alt="" width="130px" style="margin-left:40%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link letracolor " routerLink="/notificacion/User">Notificaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor" routerLink="/ModificarDatos/User">Modificar Datos</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link letracolor" routerLink="/perfil/User">Perfil</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link letracolor " routerLink="/">Salir</a>
        </li>
        <li class="nav-item">
            <a class="nav-link letracolor btn btn-primary p-1 " routerLink="/pagos" >Premium!</a>
          </li><br>
      </ul>
    </div>
  </div>
</nav>
<!--carousel-->
 <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <div class="card fixed-top" style="width: 18rem;margin-top: 100px; margin-left: 50px;">
          <img src="assets/image/desordenImg/coffe.jpg" class="card-img-top" alt="..."><i class="fas fa-camera"></i>
          <div class="card-body">
            <h5 class="card-title">Julian Valderrama</h5>
            <p class="card-text">Pequeña descripcion del programador</p>
            <a routerLink="../ModificarDatos_Usuario/miCuenta.html" class="btn btn-primary">Modificar Datos</a>
          </div>

        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body cards">
              <h5 class="card-title letras-slaide">Nombre Empresa <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a>
              </h5>
              <p class="card-text letras-slaide-p">Slogan <i class="fas fa-pencil-alt "></i></p>
            </div>
          </div>
        </div>
        <div class="jumbotron bg-blue">
          <div class="containers">
            <div class="row">
              <div class="col-sm-4">
                <img src="assets/image/desordenImg/Programacion34.jpg" style="height: 90%; width: 85%; border-radius: 20px;"><br>
                <a> <i class="fas fa-camera"></i> </a>
              </div>
              <div class="col-sm-7">
                <h3>Formacion Académica</h3>
                <p class="lead">Aqui podra poner su formacion academica o estudios realizados, la empresa podra mirar su perfil y conocerlo un poco mas.<a><i
                      class="fas fa-pencil-alt "></i></a></p>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
        <!--Articulo con un Card-->
      

        <!--Historia-->
        <section>
          <div class="jumbotron bg-gray">
            <div class="containers">
              <div class="row">
                <div class="col-sm-10">
                  <h3 class="texto" style="text-align: center;">Experiencia Laboral</h3>
                  <p class="lead texto" style="text-align: center;">Aqui podra agregar su experiencia laboral.
                    <a><i class="fas fa-pencil-alt "></i></a></p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section>
          <div class="jumbotron bg-blue">
            <div class="containers">
              <div class="row">
                <div class="col-sm-10">
                  <h3 class="texto" style="text-align: center;">Formacion Profecional</h3>
                  <p class="lead texto" style="text-align: center;">Aqui podra poner su Formacion profesional.
                    <a><i class="fas fa-pencil-alt "></i></a></p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>


          <div class="galeria-port mb-5">
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h3 style="font-size: 30px;">Idiomas</h3>
                  <p class="card-text">¿Conoce algun idioma? ¡pongalos aqui!<a><i class="fas fa-pencil-alt "></i></a> </p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem; ">
                <div class="card-body">
                  <h3 style="font-size: 30px;">Aptitudes</h3>
                  <p class="card-text">Aqui podra poner todas sus Aptitudes<a><i class="fas fa-pencil-alt"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h3 style="font-size: 30px;">Informacion Adicional</h3>
                  <p class="card-text">Aqui podra agregar informacion adicional que usted crea que es necesaria.<a><i class="fas fa-pencil-alt "></i></a></p>
                </div>
              </div>
            </div>
          </div>

        </section>
       
      </div>

    </div>
  </div>
  <div class="container-footer">
    <div class="flex">
      <a routerLink="https://www.facebook.com/Coody-Expert-100691765174664/?modal=admin_todo_tour"
        style="color: rgb(245, 245, 245); font-size: 40px; margin-left: 20px;"><i class="fab fa-facebook"></i></a>
      <a routerLink="https://www.instagram.com/coodyexpert/"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-instagram"></i></a>
      <a routerLink="https://www.youtube.com/channel/UCJjQWwyHmKPzh4hgrHy9NaQ"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="copyright">
      DATOS &copy 2020 | <a routerLink="InicioAll.html">Coody Expert</a>
    </div>
  
    <div class="information">
      <a routerLink=""> Información Compañia </a> |
      <a routerLink=""> Privacidad y Politica </a> |
      <a routerLink=""> Terminos y Condiciones </a> |
    </div>

  </div>