<div class="container containerprincipal">
    <div class="row">
        <div class="col-lg-6 imagen" style="background: linear-gradient(to right, #191b1bd9, #32353da8), url(assets/image/olvidoPass/olvidarcontraseña1.jpeg);">
            <div><img src="assets/image/olvidoPass/LOGO-OSCURO.png" alt="" width="180px" style="margin: 5%;"></div>

            <div class="caption ">
                <section>
                    <h3 class=" letraImagen">Crea tu cuenta</h3>
                </section>
                <div class="textoicon">
                    <div class="textLadoIcon">
                        <i class="far fa-check-circle">
                        </i>
                        <p class="mensajeparrafo"> Hazlo en menos de 5 minutos </p>
                    </div>
                    <div class="textLadoIcon">
                        <i class="far fa-check-circle">
                        </i>
                        <p class="mensajeparrafo"> Solo te pediremos unos datos</p>
                    </div>
                    <div class="textLadoIcon">
                        <i class="far fa-check-circle">
                        </i>
                        <p class="mensajeparrafo"> Una vez registrado encontráras los mejores talentos en desarrollo
                            web </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6  contenedorCompleto">
            <!-- <div class="contenedorCompleto"> -->
            <section>
                <h2 class="mt-5" style=" text-align: center; font-weight: bold; font-size: 30px;">¿Haz
                    olvidado tu contraseña?</h2>
                <h3 style=" text-align: center; font-weight: inherit; font-size: 30px; color: gray;">No te
                    preocupes, son cosas que pasan</h3>
                <p style=" text-align: center; font-weight: lighter; font-size: 20px;"> Dinos tu email para que
                    podamos enviarte un correo con las instrucciones de cómo recuperarla.
                </p>
            </section>

            <form class="formulario">
                <div class="form-group mt-4">
                    <label for="inputAddress">Email</label>
                    <input type="text" class="form-control inputPeque" id="inputAddress" placeholder="Correo">
                </div>

                <div class="divBoton">

                    <a routerLink="/login"><i class="fas fa-arrow-left mt-4"></i></a>
                    <a routerLink="/login" class="olvidoContrase">Volver al inicio </a>
                    <button type="submit" class="btn colorBoton mt-3" >Recuperar Contraseña</button>

                </div>

            </form>

            <!-- </div> -->

        </div>

    </div>
</div>