 <nav id="menu" class="navbar navbar-expand-lg  fixed-top backmenu">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/image/morse/morsewhite.png" alt="" width="130px" height="70px "></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link letracolor" roterLink="#primero">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor" roterLink="#dos">¿Que hacemos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor" roterLink="#tres">Nuestro Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor" roterLink="#cuatro">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 
<section id="hero" style="background-image: url(assets/image/morse/Programacion32.jpg);">
  <div class="contenedorImg">

    <div class="container-center">
      <h1 class="Fraseprincipal">Bienvenidos</h1>
      <p class="parrafoDClase">Esta página es una gran oportunidad para humanizar tu Empleo más allá de la fría
        pantalla del ordenador o del móvil. Formado por Expertos en La Industria!</p>

    </div>
  </div>
</section>

<section class="section2">
  <a routerLink="" name="primero"></a>
  <div class="container-center">
    <h1 class="Fraseprincipal">¿Quienes somos?</h1>
    <p class="parrafo1">Somos un grupo de mujeres emprendedoras, dedicadas a la programacion, con grandes espectativas
      para brindar
      a nuestros usuarios calidad y seguridad en nuestros proyectos. <br> Creadoras de Coody-Expert</p>

  </div>
  <div class="imagendiv">

  </div>
</section><a routerLink="" name="dos"></a>

<section class="section3">


  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="Fraseprincipal">¿Que hacemos?</h1>
        <p class="parrafo1">Ayudamos a empresas y programadores a cumplir sus sueños y metas, mediante nuestra pagina
          de empleo Coody-Expert con grandes expectativas y siempre brindandole la mejor atencion a nuestros usuarios.
        </p>
      </div>
      <div class="col colimgagen" style=" background-image: url(assets/image/morse/ProgramacionE1.jpg);">

      </div>
    </div>
  </div>
</section><a routerLink="" name="tres" class="section4"></a>

<section>

  <div class="containe3 containers-center">
    <h2 class="nuestro-Grupo">Nuestro equipo</h2>


    <div class="galeria-port">
      <div class=" imagen-port">
        <img src="assets/image/morse/DanielaAguilar .jpg" alt="">
        <div class="hover-galeria">
          <p> Daniela Aguilar Desarrolladora</p>

        </div>
      </div>
      <div class=" imagen-port">
        <img src="assets/image/morse/lesly.jpeg" alt="">
        <div class="hover-galeria">
          <p>Lesly Moncada Desarrolladora</p>

        </div>
      </div>
      <div class=" imagen-port">
        <img src="assets/image/morse/daniF.jpg" alt="">
        <div class="hover-galeria">
          <p>Daniela Fuquene Desarrolladora</p>
        </div>
      </div>
      <div class=" imagen-port">
        <img src="assets/image/morse/Gers.jpeg" alt="">
        <div class="hover-galeria">
          <p>Geraldine Romero Desarrolladora</p>
        </div>
      </div>
      <div class=" imagen-port">
        <img src="assets/image/morse/sofi.jpeg" alt="">
        <div class="hover-galeria">
          <p>Sofia Calderon Desarrolladora</p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="" name="cuatro"></a>
</section>

<section class="section3">

  <div class="containe2">
    <h2 class="contactanos">contáctanos</h2>
    <p class="parrafo-footer">Dejanos tu informacion aquí</p>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="flex-direc">
            <div class="icon-ubica">
              <i class="fas fa-street-view"></i>
            </div>
            <h3 class="titulo-form">Direccion</h3>
            <p>Calle 57 No. 8 - 69</p>

          </div>
          <div class="flex-direc">
            <div class="icon-ubica">
              <i class="fas fa-phone-alt"></i>
            </div>
            <h3 class="titulo-form">Telefono</h3>
            <p>(+57) 323 900 00 00</p>

          </div>
          <div class="flex-direc">
            <div class="icon-ubica">
              <i class="fas fa-envelope-open-text"></i>
            </div>
            <h3 class="titulo-form">Correo</h3>
            <p> coodyExpert.morse@gmail.com</p>

          </div>

        </div>
        <div class="col-sm-9">
          <form>
            <div class="form-row">
              <div class="col-6">
                <label for="inputAddress">Nombre </label>
                <input type="text" class="form-control" placeholder="nombre">
              </div>
              <div class="col-6">
                <label for="inputAddress">Apellido </label>
                <input type="text" class="form-control" placeholder="apellido">
              </div>
            </div>

            <div class="form-row">
              <div class="col-6">
                <label for="inputAddress">Correo </label>
                <input type="text" class="form-control" placeholder="Correo">
              </div>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1"></label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Dejanos Aqui tu opinion </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-color-for">Enviar</button>
          </form>

        </div>


      </div>

    </div>
  </div>
</section>
<!-- footer -->
<footer>
    <div class="redes-sociales">
      <div class="container">
        <div class="row  ">
          <div class="col-sm margin-contenido-footer">
            <h2>Redes sociales</h2>
            <a href="https://www.facebook.com/Coody-Expert-100691765174664/?modal=admin_todo_tour"
              style="color: white;"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/coodyexpert/" style="color: white;"><i class="fab fa-instagram"></i></a>
            <!-- <i class="fab fa-linkedin"></i> -->
          </div>
          <div class="col-sm margin-contenido-footer">
            <img src="assets/image/morse/morsewhite.png" alt="" width="200px" height="90px">
          </div>
          <div class="col-sm margin-contenido-footer">
            <h2>Proyectos</h2>
            <li>
              <a href="/">Coody Expert</a>
            </li>
            <li>
              <a href="#">Zloty</a>
            </li> 
            <li>
              <a href="#">Inmobiliaria</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- finmenu -->

