<!-- 
<div class="container-footer">
    <div class="flex">
      <a routerLink="https://www.facebook.com/Coody-Expert-100691765174664/?modal=admin_todo_tour"
        style="color: rgb(245, 245, 245); font-size: 40px; margin-left: 20px;"><i class="fab fa-facebook"></i></a>
      <a routerLink="https://www.instagram.com/coodyexpert/"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-instagram"></i></a>
      <a routerLink="https://www.youtube.com/channel/UCJjQWwyHmKPzh4hgrHy9NaQ"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="copyright">
      DATOS &copy 2020 | <a routerLink="InicioAll.html">Coody Expert</a>
    </div>
  
    <div class="information">
      <a routerLink=""> Información Compañia </a> |
      <a routerLink=""> Privacidad y Politica </a> |
      <a routerLink=""> Terminos y Condiciones </a> |
    </div>

  </div>
 -->