<div class="container">
    <h1 class="font-h">Selecciona las diferentes categorias que tenemos para ti 😀 <br>
       <b> Cuales son tus intereses laborales </b></h1>
    <section class="main-character">
        
        <article class="character " style="padding: 10px 0px 10px 0px;">
                <p>
                    <i class="fab fa-php" ></i>
                </p>
                <h3>PHP</h3>
                <i class="fas fa-star"onclick="calificar(this)"id="1php"></i>
                <i class="fas fa-star"onclick="calificar(this)"id="2php"></i>
                <i class="fas fa-star"onclick="calificar(this)"id="3php"></i>
                <i class="fas fa-star"onclick="calificar(this)"id="4php"></i>
                <i class="fas fa-star"onclick="calificar(this)"id="5php"></i>
        </article>
        
        <article class="character" style="padding: 15px 0px 10px 0px;">
                <p>
                    <i class="far fa-gem"></i>
                </p>
                <h3>Rubi</h3>
                <i class="fas fa-star"onclick="calificar(this)"id="1rubi"></i>
                <i class="fas  fa-star"onclick="calificar(this)"id="2rubi"></i>
                <i class="fas  fa-star"onclick="calificar(this)"id="3rubi"></i>
                <i class="fas fa-star"onclick="calificar(this)"id="4rubi"></i>
                <i class="fas  fa-star"onclick="calificar(this)"id="5rubi"></i>
                
        </article>
        <article class="character " style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fas fa-database"></i>
            </p>
            <h3>MySql</h3>
            <i class="fas fa-star"onclick="calificar(this)"id="1mysql"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="2mysql"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="3mysql"></i>
            <i class="fas fa-star"onclick="calificar(this)"id="4mysql"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="5mysql"></i>
        </article>
        <article class="character" style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fab fa-html5"></i>
            </p>
            <h3>Html</h3>
            <i class="fas fa-star"onclick="calificar(this)"id="1html"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="2html"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="3html"></i>
            <i class="fas fa-star"onclick="calificar(this)"id="4html"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="5html"></i>
                
        </article>
        <article class="character" style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fab fa-css3"></i>
            </p>
            <h3>Css</h3>
            <i class="fas fa-star"onclick="calificar(this)"id="1css"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="2css"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="3css"></i>
            <i class="fas fa-star"onclick="calificar(this)"id="4css"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="5css"></i>
                
        </article>
        <article class="character" style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fab fa-java"></i>
            </p>
            <h3>Java</h3>
            <i class="fas fa-star"onclick="calificar(this)"id="1java"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="2java"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="3java"></i>
            <i class="fas fa-star"onclick="calificar(this)"id="4java"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="5java"></i>
                
        </article>
        <article class="character" style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fab fa-js-square"></i>
            </p>
            <h3>JavaScript</h3>
            <i class="fas fa-star"onclick="calificar(this)"id="1square"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="2square"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="3square"></i>
            <i class="fas fa-star"onclick="calificar(this)"id="4square"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="5square"></i>
        </article>
        <article class="character"style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fab fa-laravel"></i>
            </p>
            <h3>Laravel</h3>
            <i class="fas fa-star"onclick="calificar(this)"id="1laravel"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="2laravel"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="3laravel"></i>
            <i class="fas fa-star"onclick="calificar(this)"id="4laravel"></i>
            <i class="fas  fa-star"onclick="calificar(this)"id="5laravel"></i>
        </article>
        <article class="character" style="padding: 15px 0px 10px 0px;">
            <p>
                <i class="fas fa-ellipsis-h"></i>
            </p>
            <h3>Mas</h3>
                
        </article>
    </section>
    <button type="button" class="btn btn-info"> <a href="../inicioUsuario/inicioUsuario.html" style="color:white;text-decoration: none;"> Recibir ofertas!</a></button>

</div>
