<nav id="menu" class="navbar navbar-expand-lg fixed-top bg-pink">
  <div class="container">
    <a class="navbar-brand" routerLink="../Home_Empresa/inicioEmpr.html">
      <img src="assets/image/homeUser/LOGO-OSCURO.png" alt="" width="130px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link letracolor" routerLink="/crearOferta">Crear Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor " routerLink="/modificarDatos/company">Editar Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor" routerLink="/losMejoresProgramadores/reclutar">Buscar Desarrolladores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor " routerLink="/notificacion/company">Notificaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor " routerLink="/perfil/Empresa">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link letracolor " routerLink="/">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>





  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <div class="card fixed-top" style="width: 18rem;margin-top: 100px; margin-left: 50px;">
          <img src="../img/empresa4.jpg" class="card-img-top" alt="..."><i class="fas fa-camera" ></i>
          <div class="card-body">
            <h5 class="card-title">Nombre Empresa</h5>
            <p class="card-text">Breve Descripcion</p>
            <a href="../ModificarDatos_Empresa/CuentaE.html" class="btn btn-primary">Modificar Datos</a>
          </div>

        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body cards">
              <h5 class="card-title letras-slaide">Nombre Empresa <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a>
              </h5>
              <p class="card-text letras-slaide-p">Slogan <i class="fas fa-pencil-alt "></i></p>
            </div>
          </div>
        </div>
        <div class="jumbotron bg-blue">
          <div class="containers">
            <div class="row">
              <div class="col-sm-4">
                <img src="../img/Programacion33.jpg" style="height:80%; width:90%; border-radius: 10px;">
                <a><br><i class="fas fa-camera"></i></a>
              </div>
              <div class="col-sm-7">
                <h1>¿Quienes Somos? <a></a></h1>
                <p class="lead">Aqui podra poner el quienes somos la empresa que ya este registrada y desee crear su perfil para que los programadores puedan conocerla mejor.<a>
                    <i class="fas fa-pencil-alt "></i></a></p>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
        <!--Articulo con un Card-->
        <section>


          <div class="galeria-port">
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <img src="../img/ProgramacionE1.jpg" height="160px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 style="font-size: 30px;">Mision <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a></h1>
                  <p class="card-text">Aqui ira la Mision de la empresa.
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem; ">
                <img src="../img/empresa2.jpg " height="160px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 style="font-size: 30px;">Vision <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a></h1>
                  <p class="card-text">Aqui ira la Vision de la empresa.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <img src="../img/Programacion10.jpg" height="160px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 style="font-size: 30px;">Objetivos <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a></h1>
                  <p class="card-text">Aqui ira los Objetivos de la empresa.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Historia-->
        <section>
          <div class="jumbotron bg-blue">
            <div class="containers">
              <div class="row">
                <div class="col-sm-10">
                  <h1 class="texto" style="text-align: center;">Nuestra Historia </h1>
                  <p class="lead texto" style="text-align: center;">La empresa podra escribir su historia para que los programadores puedan
                    conocer mejor los inicios de ella.
                  <a><i class="fas fa-pencil-alt "></i></a></p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>


  <!--Cards-->
  <div class="container-footer">
    <div class="flex">
      <a routerLink="https://www.facebook.com/Coody-Expert-100691765174664/?modal=admin_todo_tour"
        style="color: rgb(245, 245, 245); font-size: 40px; margin-left: 20px;"><i class="fab fa-facebook"></i></a>
      <a routerLink="https://www.instagram.com/coodyexpert/"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-instagram"></i></a>
      <a routerLink="https://www.youtube.com/channel/UCJjQWwyHmKPzh4hgrHy9NaQ"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="copyright">
      DATOS &copy 2020 | <a routerLink="InicioAll.html">Coody Expert</a>
    </div>
  
    <div class="information">
      <a routerLink=""> Información Compañia </a> |
      <a routerLink=""> Privacidad y Politica </a> |
      <a routerLink=""> Terminos y Condiciones </a> |
    </div>

  </div>
