<nav id="menu" class="navbar navbar-expand-lg fixed-top bg-pink">
    <div class="container">
      <a class="navbar-brand" roterLink="../Home_Empresa/inicioEmpr.html">
        <img src="./imagenes/LOGO-OSCURO.png" alt="" width="130px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a class="nav-link letracolor" roterLink="/crearOferta">Crear Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link letracolor " roterLink="/modificarDatos/company">Editar Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link letracolor" roterLink="/losMejoresProgramadores/reclutar">Buscar Desarrolladores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link letracolor " roterLink="/notificacion/company">Notificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link letracolor " roterLink="/perfil/Empresa">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link letracolor " roterLink="/">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container mt-5">
    <br><br><br>
    <h1 class="text-center">¡TENEMOS LOS MEJORES PLANES PARA TI!</h1>
    <br><br><br>
    <div class="card card1" style="width: 50rem;">
    <div class="row">
        <div class="col mb-4" >
           
            <div class="card " style="width: 18rem;">
                <!--Lo que va hacer es que va a integrar y guardar cada dato de los libros en b-->
                <img src="assets/image/tplanestarjetas/Medium.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MEDIUM</h5>
                    <p class="card-text">Aqui tendras la opcion de publicar 1 oferta laboral por mes, realizar examen o cargarlo y
                        recibir notificaciones. 
                        <br>
                        <br>
                        $30.000 Pesos Mensuales
                    </p>
                    <a href="#" class="btn btn-primary">Comenzar</a>
                </div>
            </div>
        </div>  
        <!-- *ngFor="let b of allPlanes"
*ngFor="let b of allPlanes" -->
            <div class="col mb-4" >
                <div class="card" style="width: 18rem;">
                    <!--Lo que va hacer es que va a integrar y guardar cada dato de los libros en b-->
                    <img src="assets/image/tplanestarjetas/PremiumCompany.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PREMIUM</h5>
                        <p class="card-text">Aqui podras publicar ofertas laborales ilimitadas, realizar examen o cargarlo, recibir notificaciones,
                            crear perfil para que conozcan mas la empresa y reclutar a los mejores programadores.
                        <br>
                    <br>
                    $50.000 Pesos Mensuales
                </p>
                        <a href="#" class="btn btn-primary">Comenzar</a>
                    </div>
                </div>
            </div>    
    </div>      
</div>
</div>



  <div class="container-footer">
    <div class="flex">
      <a routerLink="https://www.facebook.com/Coody-Expert-100691765174664/?modal=admin_todo_tour"
        style="color: rgb(245, 245, 245); font-size: 40px; margin-left: 20px;"><i class="fab fa-facebook"></i></a>
      <a routerLink="https://www.instagram.com/coodyexpert/"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-instagram"></i></a>
      <a routerLink="https://www.youtube.com/channel/UCJjQWwyHmKPzh4hgrHy9NaQ"
        style="color:rgb(248, 246, 248); font-size: 40px; margin-left: 20px;"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="copyright">
      DATOS &copy 2020 | <a routerLink="InicioAll.html">Coody Expert</a>
    </div>
  
    <div class="information">
      <a routerLink=""> Información Compañia </a> |
      <a routerLink=""> Privacidad y Politica </a> |
      <a routerLink=""> Terminos y Condiciones </a> |
    </div>

  </div>





