
<!-- <app-menu> </app-menu> -->
 <!-- <app-home-principal></app-home-principal>  -->
<router-outlet> </router-outlet>  
<!-- <app-modificar-datos-empresa></app-modificar-datos-empresa> -->
 <!-- <app-examen-oferta> </app-examen-oferta>  -->
<!-- <app-ofertas></app-ofertas> -->
<!-- <app-reclutador></app-reclutador> -->
<!-- <app-registro-empresa></app-registro-empresa> -->
<!-- <app-registro-user></app-registro-user> -->
<!-- <app-notificaciones-user></app-notificaciones-user> -->
<!-- <app-modificar-datos-user></app-modificar-datos-user> -->
<!-- <app-footer> </app-footer> -->
<!-- <app-categorias></app-categorias> -->
<!-- <app-home-empresa></app-home-empresa> -->
<!-- <app-modificar-datos-empresa></app-modificar-datos-empresa> -->